.form-container {
  padding: 2rem;
  width: 50%;
  margin: 1rem auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.form-container h1 {
  margin-bottom: 2rem;
}
